# API Configuration
TAVILY_API_KEY=your_tavily_api_key
OPENAI_API_KEY=your_openai_api_key

# Default Settings
REPORT_STRUCTURE="The report should include:\n1. Introduction\n2. Body\n3. Conclusion"
NUMBER_OF_QUERIES=3
TAVILY_TOPIC=general
TAVILY_DAYS=7

# Other providers
ANTHROPIC_API_KEY=your_key  # opcional
GOOGLE_API_KEY=your_key     # opcional

# Azure OpenAI (opcional)
AZURE_OPENAI_API_KEY=your_key
AZURE_OPENAI_API_BASE=your_endpoint
AZURE_OPENAI_DEPLOYMENT_NAME=your_deployment

#LANGSMITH
LANGSMITH_PROJECT=your_project
