# dependencies
colorama
python-dotenv
uvicorn
pydantic
fastapi
aiokafka
SQLAlchemy
PyJWT
psycopg2
redis
structlog
pydantic_settings
langchain_scrapegraph
python-dotenv
uvicorn
langchain
langchain-openai
langsmith
motor
pandas
python-jobspy
starlette
httpx
jobspy
asyncpg
langchain_openai
PyPDF2
langchain-community
pydantic[email]
python-multipart
passlib[bcrypt]
langgraph
pypdf
tavily-python
pydantic-settings
langchain_anthropic
langchain_google_vertexai
langchain_core