# dependencies
colorama
python-dotenv~=1.0.1
uvicorn~=0.34.0
pydantic~=2.9.2
fastapi~=0.115.6
aiokafka
SQLAlchemy
PyJWT
psycopg2
redis
structlog
pydantic_settings
langchain_scrapegraph
python-dotenv
uvicorn
langchain~=0.3.17
langchain-openai~=0.3.0
langsmith
motor
pandas
starlette
httpx~=0.28.1
jobspy
asyncpg
langchain_openai
PyPDF2
langchain-community
pydantic[email]
python-multipart
passlib[bcrypt]
langgraph~=0.2.64
pypdf
tavily-python
pydantic-settings~=2.7.1
langchain_anthropic
langchain_google_vertexai
langchain_core
google-generativeai
google-generativeai tavily-python
langchain-core~=0.3.30
protobuf~=5.29.3
jsonschema~=4.23.0
langchain-anthropic~=0.3.3
langchain-google-vertexai~=2.0.11
typing_extensions~=4.12.2
tenacity~=9.0.0
aiofiles~=24.1.0
mistune~=3.1.1